<!--pantalla de inicio de sesion para el usuario-->
{% extends "layout.html" %}
{% block body %}

<div class="card text-center m-5 bg-dark" style="min-height:80vh">
  <div class="card-header bg-red">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a type="button" class="btn btn-light btn-outline-danger btn-sm centered">
          # <span class="badge badge-danger text-dark">{{ channel }}</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3 text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent;">
          Lista de canales
        </a>
        <div id="ChannelList" class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
        {% for channel in channels %}
          <a class="dropdown-item text-light" href="#">{{ channel }}</a>
        {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-light" onclick="OpenModalChannel()">Crear nuevo canal</a>
      </li>
    </ul>
  </div>
  <div class="card-body" style="height: 60vh;  widht: 100vw">
    <div class="bg-dark" style="resize: none; height : 63vh; width: 100%" disabled>

      <ul id="ChatArea">

      </ul>

    </div>
  </div>
  <div class="card-body">
    <hr/>
    <div class="row justify-content-md-center">
    <div class="col-8">
      <textarea class="bg-dark" style="resize: none; height: 5vh; width: 100%"></textarea>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary btn-sm">Enviar <i class="far fa-paper-plane"></i></button>
    </div>
  </div>

  </div>
</div>


<div class="modal" id="ChannelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crear nuevo canal</h5>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return false">
        <label for="validationTooltipUsername">Nombre de canal</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltip">#</span>
        </div>
        <input type="text" class="form-control" id="NewChannelName" placeholder="Nombre-del-canal" aria-describedby="validationTooltipUsernamePrepend" required>
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary" id="NewChannelBtn" onclick="NewChannelFunc()">Proceder <i class="fas fa-check"></i></button>
        </form>
        <button type="button" class="btn btn-danger" onclick="CloseModalChannel()" >Cancelar <i class="fas fa-times"></i></button>
      </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
<!--/pantalla de inicio de sesion para el usuario-->