 <!--pantalla de inicio de sesion para el usuario-->
{% extends "layout.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid bg-Mcard text-light justified rounded">


			<h1 class="display-4 text-centered">Identifiquese o sera enviado al gulag!!!</h1>
			<hr class="my-4">
			<div class="align-items-center aling-self-center">
				<div class="p-5">

					<!--Flash de mensaje para el usuario-->
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="centered,text-centered">
				{% for message in messages %}
				<div class="alert alert-primary col-sm-6 centered" role="alert">
					<i class="fas fa-info-circle"></i>
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
			<!--/Flash de mensaje para el usuario-->

				<form action="{{ url_for('login') }}" method="POST" class="text-centered">
					<div class="form-floating centered col-sm-4 text-dark">
						<input type="text" class="form-control" id="username" name="username" autocomplete="off" required>
						<label for="username">Nombre <i class="fas fa-user fa-xs ialing"></i></label>
					</div>
					<button class="btn btn-primary margin-3" type="submit">Identificarse</button>
				</form>
			</div>
			</div>
		</div>


{% endblock %}
<!--/pantalla de inicio de sesion para el usuario-->