<!--pantalla de inicio de sesion para el usuario-->
{% extends "layout.html" %}
{% block Title %}
Identificate o seras enviado al gulag
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-3">
  	<div class="jumbotron mt-3 d-flex flex-column align-items-start bg-Scard" style="width: 100%;">xda</div>
  </div>
  <div class="col-8">
  	<div class="jumbotron mt-3 d-flex flex-column align-items-start bg-Scard" style="width: 100%;">xda</div>
  </div>
</div>
{% endblock %}
<!--/pantalla de inicio de sesion para el usuario-->